html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  padding-top: 50px;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: 
    #222 url('../images/fondo.jpg') no-repeat center center fixed;
  background-size: cover;    /* ← aquí le dices que escale para cubrir */
  z-index: -1;
}

